@tailwind base;
@tailwind components;
@tailwind utilities;

#drop-area {
  border: 5px dashed #ccc;
  border-radius: 15px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 48px;
  color: #666;
}

#drop-area.highlight {
  border-color: cornflowerblue;
  color: #000;
}

.my-form {
  @apply max-w-2xl mx-auto mt-24 p-12 border-4 border-dashed border-gray-300 rounded-xl text-gray-600;
}

.my-form p {
  @apply mb-4;
}

#gallery {
  margin-top: 10px;
}

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button {
  @apply inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 cursor-pointer;
}

#fileElem {
  @apply hidden;
}

perspective-viewer {
  @apply absolute inset-0;
}